@import '../abstracts/variables.scss';

.button {
    width: fit-content;
    padding: 15px 25px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: padding .2s ease-in-out, border-radius .2s ease-in-out 0s;
}

.button:hover {
    border-radius: 50px;
}

.button > p {
    letter-spacing: 0rem;
}

.button--signin { 
    background: $color-purple;
    color: $color-light;
}

.button--reset {
    background: $color-light;
    color: $color-purple;
    box-shadow: 0px 0px 0px 3px $color-purple inset;
}

.button--joinnow {
    background: $color-dark;
    color: $color-light;
}

.button--contactus {
    background: $color-white;
    color: $color-dark;
}

.button--hidden {
    display: none;
}